massive-glyph-323908-5809907c52ef.json
Pipfile
airflow.cfg
airflow.db
data/
simple_auth_manager_passwords.json.generated
client_secret_601659951847-rbnrlrnlc2rbgjp4fq3n50i64a0hrpc8.apps.googleusercontent.com.json
env